{% extends 'website/base.html' %}
{% block title %}Projects{% endblock %}
{% block content %}
<section id="projects" class="projects">
  <div class="projects-container">
    <h2>MY PROJECTS</h2>
    <p>Some of the work I’ve done recently.</p>

    <div class="project-grid">
      <div class="project-card">
        <div class="project-info">
          <h3>Portfolio Website</h3>
          <p>A personal portfolio website built with Django and Bootstrap.</p>
          <a href="#" target="_blank" class="btn">View Project</a>
        </div>
      </div>
      <div class="project-card">
        <div class="project-info">
          <h3>E-commerce App</h3>
          <p>Full stack e-commerce application with authentication and payment gateway.</p>
          <a href="#" class="btn">View Project</a>
        </div>
      </div>
        <div class="project-card">
        <div class="project-info">
          <h3>E-commerce App</h3>
          <p>Full stack e-commerce application with authentication and payment gateway.</p>
          <a href="#" class="btn">View Project</a>
        </div>
      </div>
        <div class="project-card">
        <div class="project-info">
          <h3>E-commerce App</h3>
          <p>Full stack e-commerce application with authentication and payment gateway.</p>
          <a href="#" class="btn">View Project</a>
        </div>
      </div>
        <div class="project-card">
        <div class="project-info">
          <h3>E-commerce App</h3>
          <p>Full stack e-commerce application with authentication and payment gateway.</p>
          <a href="#" class="btn">View Project</a>
        </div>
      </div>
        <div class="project-card">
        <div class="project-info">
          <h3>E-commerce App</h3>
          <p>Full stack e-commerce application with authentication and payment gateway.</p>
          <a href="#" class="btn">View Project</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
